<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list style="margin-left: 0.25rem; margin-right: 0.25rem;">
      @for (route of routes; track $index) {
        <a
          mat-list-item
          routerLinkActive
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="route.path"
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          style="margin-top: 0.25rem; margin-bottom: 0.25rem;"
        >{{ route.title }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Reservierungs-Tool</span>
    </mat-toolbar>
    <main style="padding: 0 1rem;">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
